.main {
    width: 100%;
    height: 100vh;
    background: url(./assets/logo.jpg) no-repeat center/cover;
    opacity: 1; /* Background image opacity */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centers all text horizontally */
  }
  
  .content {
    background: transparent; /* Slightly transparent background for text content */
    padding: 2rem;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 10px transparent;
    width: 80%;
    height: 80%;
    opacity: 1;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgb(0, 0, 0), 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    flex-wrap: wrap;
  }
  
  .title {
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
    color: whitesmoke;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    color: whitesmoke;
    margin-top: 20px;
  }
  
  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centers the image container */
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
  }
.mouse{
  margin-top: 10px;
  margin-bottom: -10px;
} 